@import './font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --orange: #E75626;
    --invOrange: #18A9D9;
    --dark: #171719;
    --gray: #5A5A5A;
    --grayBright: #D2C4C4;
    --color: #C7C7C7;
    --blackBright: #1E1E20;
    --blackSuperBright: #323232;
    --blackLastRing: #212124;
}

.bLong{
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: white; stroke-width: 1; stroke-dasharray: 5 5'/></svg>");
}

.lastRing{
    box-shadow: 0px 0px 10px 7px rgba(33, 33, 36, 1) inset;
}

.circle{
    clip-path: inset(0 0 0 50%);
}

.borderText{
    -webkit-text-stroke: 1px white;
}